<% if(dashboard.formLiteral.isNew) { %>
<form action="/projects/<%= dashboard.project.id %>/literal-new %>"
    name="literalform" method="post">
<% } else { %>
    <form action="/projects/<%= dashboard.project.id %>/literal/<%= dashboard.formLiteral.literal.id %>"
        name="literalform" method="post">
<% } %>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-5">
                <% if(!dashboard.formLiteral.isNew) { %>
                    <%= dashboard.formLiteral.literal.name %>
                <% } else { %>
                    Literal Nuevo
                <% } %>
            </h4>
            <div class="card-text">
                <% if(dashboard.formLiteral.isNew) { %>
                <div>
                    <div class="form-group mb-5">
                        <label for="name-literal" class="mb-2">Nombre</label>
                        <input type="text" class="form-control mb-2" id="name-literal" placeholder="Nombre literal" name="nameLiteral" required>
                    </div>
                </div>
                <% } %>

                <ul class="nav nav-tabs mb-3" id="ul-langs">
                    <% dashboard.formLiteral.langs.forEach(function(lang) { %>
                        <% if(lang === 'ES') { %>
                            <li class="nav-item">
                                <a class="nav-link active text-secondary" data-bs-toggle="tab" href="#lang<%= lang %>" id="li-lang-<%= lang %>">
                                    <%= lang %>
                                </a>
                            </li>
                        <% } else { %>
                            <li class="nav-item">
                                <a class="nav-link text-secondary" data-bs-toggle="tab" href="#lang<%= lang %>" id="li-lang-<%= lang %>">
                                    <%= lang %>
                                </a>
                            </li>
                        <% } %>
                    <% }); %>
                </ul>

                <div id="myTabContent" class="tab-content mb-5">
                    <% dashboard.formLiteral.langs.forEach(function(lang) { %>
                        <% if(lang === 'ES') { %>
                            <div class="tab-pane fade active show" id="lang<%= lang %>">
                                <textarea class="form-control"
                                id="textarea-<%= lang %>" name="textarea-<%= lang %>"><%= dashboard.formLiteral.literal.langs[lang] %></textarea>
                            </div>
                        <% } else { %>
                            <div class="tab-pane fade" id="lang<%= lang %>">
                                <textarea class="form-control"
                                id="textarea-<%= lang %>" name="textarea-<%= lang %>"><%= dashboard.formLiteral.literal.langs[lang] %></textarea>
                            </div>
                        <% } %>
                    <% }); %>
                </div>

                <div class="d-flex justify-content-end align-items-center flex-fill mt-5">
                    <a title="Cancelar" href="/" type="button" class="btn btn-link mx-5">Cancelar</a>
                    <button type="submit" class="btn btn-primary btn-lg">
                        <span>Guardar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>