<% if(dashboard.show.alerts && dashboard.alerts.text){ %>
<div class="mb-2" id="alerts">
    <div class="alert <%= dashboard.alerts.styles %> alert-dismissible fade show" role="alert">
        <strong><%= dashboard.alerts.strong %></strong> <%= dashboard.alerts.text %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
<% } %>

<div class="card mb-2" id="btn-import">
    <div class="btn-group dropdown">
        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="dropdownImportButton"
            data-bs-toggle="dropdown" aria-expanded="false">
            <span class="spinner-border spinner-grow-sm d-none" role="status" aria-hidden="true" id="spinner-import"></span>
            <span>Importar</span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownImportButton">
            <li><span class="dropdown-item-text text-muted" style="margin-bottom: 0px;">Literales</span></li>
            <div class="dropdown-divider text-muted" style="margin-top: 0px;"></div>
            <div class="mb-3">
                <li><a class="dropdown-item import-event" href="/import/json">JSON</a></li>
                <li><a class="dropdown-item import-event" href="/import/excel">EXCEL</a></li>
            </div>

            <li><span class="dropdown-item-text text-muted"  style="margin-bottom: 0px;">DB</span></li>
            <div class="dropdown-divider text-muted" style="margin-top: 0px;"></div>
            <div>
                <li><a class="dropdown-item import-event" href="/import/origin">Origen</a></li>
            </div>
        </ul>
    </div>
</div>
<div class="card" id="menu">
    <div class="list-group list-group-flush">
        <% dashboard.menu.forEach(function(item) { %>
            <a id="menu-<%= item.id %>" type="button"
                class="list-group-item list-group-item-action d-flex justify-content-between align-items-start text-muted"
                aria-current="true" href="/projects/<%= item.id %>">

                <span>
                    <%= item.name %>
                </span>
                <span class="badge rounded-pill bg-secondary">
                    <%= item.countLiterals %>
                </span>
            </a>
            <% }); %>
    </div>
</div>