<div class="container-fluid px-5">
    <div class="mb-3">
        <div class="input-group input-group-sm" id="btns-filters">
            <a id="filter-all" type="button"
                class="btn btn-outline-secondary <%=dashboard.project.filters.all.active==true ? 'active' : '' %>"
                href="/projects/<%= dashboard.project.id %>/filter/all">
                Mostrar todos
                <span class="badge rounded-pill bg-secondary">
                    <%= dashboard.project.filters.all.count %>
                </span>
            </a>
            <a id="filter-missing" type="button"
                class="btn btn-outline-secondary <%=dashboard.project.filters.missing.active==true ? 'active' : '' %> <%=dashboard.project.filters.missing.count==0 ? 'disabled' : '' %>"
                href="/projects/<%= dashboard.project.id %>/filter/missing">
                Faltan traducciones
                <span class="badge rounded-pill bg-secondary">
                    <%= dashboard.project.filters.missing.count %>
                </span>
            </a>
            <a id="filter-untranslated" type="button"
                class="btn btn-outline-secondary <%=dashboard.project.filters.untranslated.active==true ? 'active' : '' %> <%=dashboard.project.filters.untranslated.count==0 ? 'disabled' : '' %>"
                href="/projects/<%= dashboard.project.id %>/filter/untranslated">
                Huerfanos
                <span class="badge rounded-pill bg-secondary">
                    <%= dashboard.project.filters.untranslated.count %>
                </span>
            </a>
            <input type="text" class="form-control mx-3" placeholder="Buscar..." aria-label="Buscar..." name="input-search" id="search-<%= dashboard.project.id %>">
            <a id="filter-all" type="button" class="btn btn-outline-success" title="Nuevo"
                href="/projects/<%= dashboard.project.id %>/literal-new %>">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
            </a>
        </div>
    </div>
    <div class="list-group" id="list-literals-filters"></div>
    <div class="list-group" id="list-literals">
        <% dashboard.project.literals.forEach(function(literal) { %>
            <a href="/projects/<%= dashboard.project.id %>/literal/<%= literal.id %>"
                id="project-<%= dashboard.project.id %>-literal-<%= literal.id %>"
                class="list-group-item list-group-item-action flex-column align-items-start" aria-current="true">

                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        <%= literal.name %>
                    </h5>
                    <small class="text-muted">
                        <%- literal.infoLangs %>
                    </small>
                </div>
                <small class="mb-1 text-muted">
                    <%= literal.langs.ES %>
                </small>
            </a>
            <% }); %>
    </div>
</div>