<nav class="navbar navbar-light bg-light fixed-top" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/" title="Translate v2"
                    class="text-muted text-decoration-none">Translate v2</a></li>
            <% if(header.breadcrumb.length> 0) { %>
                <% header.breadcrumb.forEach(function(item) { %>
                    <li class="breadcrumb-item <%= item.css %>" aria-current="page">
                        <a href="<%= item.url %>" title="<%= item.name %>" class="text-dark text-decoration-none">
                            <%= item.name %>
                        </a>
                    </li>
                    <li class="breadcrumb-item <%= item.export.css %>">
                        <a type="button" class="btn btn-outline-primary btn-sm"
                            href="/projects/<%= header.breadcrumb[0].id %>/export">Exportar</a>
                    </li>
                    <% }); %>
                        <% } %>
        </ol>
    </div>
</nav>